doctype html
html
    head
        title loading circles
        meta(charset='utf-8')
        link(rel='stylesheet', href='./style.css')
        script(src='./script.js')
    body
        .circle-container
            .circle
            .dot
        .shadow
