doctype html
html
	head
		title loading squares
		meta(charset='utf-8')
		link(rel='stylesheet', href='./style.css')
		script(src='./script.js')
	body
		.square-container
			- for (var i = 0; i < 4; i++)
				.square
