doctype html
html
    head
        title loading circles
        meta(charset='utf-8')
        link(rel='stylesheet', href='./style.css')
        script(src='./script.js')
    body
        .circles-container
            - for (var i = 0; i < 5; i++)
                .circle
